DSE/15_03_pessoas.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="cadastros">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="pessoa" type="tp_pessoa" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="tp_pessoa">
		<xs:sequence>
			<xs:element name="nome" type="xs:string"/>
			<xs:element name="sobrenome" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="codigo" type="xs:int"/>
	</xs:complexType>
</xs:schema>